GraphingApp {
    PlotWidget {
        width: 1fr;
    }

    Vertical {
        width: 30;
        margin: 2 0 0 2;
        border: round $primary;

        Label {
            margin-left: 1;
        }
    }

    #expression {
        &.-valid {
            border: tall $success 60%;
        }
        &.-valid:focus {
            border: tall $success;
        }
    }
}